<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <p>tpl</p>
    <%= require("html-loader?interpolate!./part.html") %>
    <h2>template: <%= obj.foo %></h2>
    <h2><%= webpackConfig.output.publicPath %></h2>
    <script type="text/javascript" src="<%= script %>"></script>

</body>
</html>
